{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "indent": "off",
    "object-curly-spacing": "off",
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "none",
          "requireLast": false
        },
        "singleline": {
          "delimiter": "comma",
          "requireLast": false
        }
      }
    ],
    "no-useless-constructor": "off",
    "arrow-parens": "off"
  }
}
